{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include('components/_cover.html.twig') %}

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h3 class="text-decorated text-decorated--padding">
                        Le trail se compose de trois courses : 28km, 16km et 10km. Elles se dérouleront entre la ville, la plage, le sommet de Capu di a Veta (Croix des Autrichiens à 695 mètres) et la presqu’île de la Revellata.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    {% include('components/_partners.html.twig') %}
    {% include('components/_schedule.html.twig') %}
    {% include('components/_runs.html.twig') %}

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <h2>Nos dernières <b>actualités.</b></h2>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal h-100">
                            <a href="{{ path('post_detail', {slug: post.slug}) }}" class="card-img-container">
                                <img class="card-img" src="{{ asset('uploads/images/' ~ post.featuredImage.filename) }}" alt="{{ post.featuredImage.altText }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('post_detail', {slug: post.slug}) }}">{{ post.title }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
