<header class="header-sticky {% block header_classes %}header-dark{% endblock %}">
    <div class="container">
        <nav class="navbar navbar-expand-lg {% block navbar_classes %}navbar-dark{% endblock %}">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img class="navbar-logo navbar-logo-light" src="{{ asset('build/img/logo-transparent.png') }}" alt="Logo">
                <img class="navbar-logo navbar-logo-dark" src="{{ asset('build/img/logo.jpg') }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav align-items-center mr-auto">
                    <div class="nav-item">
                        <a class="nav-item nav-link" href="{{ path('home') }}" role="button">
                            Accueil
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-item nav-link" href="{{ path('post_index') }}" role="button">
                            Actualités
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
