<header class="header-sticky header-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img class="navbar-logo navbar-logo-light" src="{{ asset('build/img/logo.jpg') }}" alt="Logo">
                <img class="navbar-logo navbar-logo-dark" src="{{ asset('build/img/logo.jpg') }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav align-items-center mr-auto">
                    <a class="nav-item nav-link" href="{{ path('home') }}" role="button">
                        Accueil
                    </a>
                    <a class="nav-item nav-link" href="{{ path('home') }}" role="button">
                        Actualités
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
