<section class="separator-top">
    <div class="container">
        <div class="row">
            <div class="col partners align-items-center">
                <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/1.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/2.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/3.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/4.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/5.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/6.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/7.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/8.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/10.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/11.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/12.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/13.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/14.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/15.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/16.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/17.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/18.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/19.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/20.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/21.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/22.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/23.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/24.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/25.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/26.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/27.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/28.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/29.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/30.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/31.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/32.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/33.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/34.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/35.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/36.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/37.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/38.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/39.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/40.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/41.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/42.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/43.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/44.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/45.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/46.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/47.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/48.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/49.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/50.svg') }}" alt="Partenaire1">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('/build/img/partners/51.svg') }}" alt="Partenaire1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
